@{
    ViewData["Title"] = "Top List";
}
@model Bjornroth.Models.ViewModels.TopListViewModel

    <div class="search-result-index-0">
        <img src="@Model.TopList[0].Poster" alt="Top Rated Movie">
        <div class="seach-result-index-0-info">
            <h1>@Model.TopList[0].Title (@Model.TopList[0].Released)</h1>
            <ul class="seach-result-index-0">
                <li>IMDB: @Model.TopList[0].imdbRating</li>
                <li>@Model.TopList[0].Director</li>
                <li>@Model.TopList[0].Plot</li>
            </ul>
            <p>
              @using (Html.BeginForm("Index", "MovieDetails")) {
                <input type="hidden" name="imdbId" value="@Model.TopList[0].ImdbId" />
                <input type="submit" class="read-more-btn" value="Read More" />
                }
            </p>
        </div>

    </div>
    <div class="search-result-index-1-3">
        <div class="search-result-index-1">
            <img src=@Model.TopList[1].Poster />
            <div class="seach-result-index-1-3-info">
                <h2>@Model.TopList[1].Title</h2>
                <ul class="seach-result-index-1-3">
                    <li>@Model.TopList[1].Released</li>
                    <li>@Model.TopList[1].Director</li>
                    <li>1h27m</li>
                </ul>
            </div>
        </div>
        <div class="search-result-index-2">
            <img src=@Model.TopList[2].Poster />
            <div class="seach-result-index-1-3-info">
                <h2>Långt namn på en film här (2018)</h2>
                <ul class="seach-result-index-1-3">
                    <li>2018</li>
                    <li>Director: Namn namn</li>
                    <li>1h27m</li>
                </ul>
            </div>
        </div>
        <div class="search-result-index-3">
            <img src=@Model.TopList[3].Poster />
            <div class="seach-result-index-1-3-info">
                <h2>Dumbo</h2>
                <ul class="seach-result-index-1-3">
                    <li>2018</li>
                    <li>Director: Namn namn</li>
                    <li>1h27m</li>
                </ul>
            </div>
        </div>

    </div>

