@{
    ViewData["Title"] = "Search Results";
}
@model Bjornroth.Models.ViewModels.SearchViewModel

<div class="search-random-page">
    <h1 class="search-movie-header"> Search "Jedi"...</h1>
    <div class="search-movies-container">
        <div class="search-index-0">
            <div class="search-index-0-img">
                <img src="@Model.Movies[0].Poster">
            </div>
            <div class="search-index-0-info">
                <h1>@Model.Movies[0].Title, @Model.Movies[0].Released</h1>
                <p class="genre-runtime-header"> @Model.Movies[0].Genre | @Model.Movies[0].Runtime | <i>4 Awards</i></p>
                <p class="short-plot"><i>@Model.Movies[0].Plot</i></p>
                @using (Html.BeginForm("Index", "MovieDetails"))
                {
                <input type="hidden" name="imdbId" value="@Model.Movies[0].ImdbId" />
                <input type="submit" class="read-more" value="READ MORE" />
                }
            </div>
        </div>
        <h2 class="or-did-you-mean-header">...or did you mean?</h2>
        <div class="search-or-did-you-mean">
            @for (var i = 1; i < Model.Movies.Count; i++) {
            <div class="search-or-did-you-mean-result">

                <img src="@Model.Movies[i].Poster">
                <div class="search-or-did-you-mean-result-info">
                    <h2>@Model.Movies[i].Title, @Model.Movies[i].Released</h2>
                    @using (Html.BeginForm("Index", "MovieDetails"))
                    {
                        <input type="hidden" name="imdbId" value="@Model.Movies[i].ImdbId" />
                        <input type="submit" class="read-more" value="READ MORE" />
                    }
                </div>
            </div>
            }
           

        </div>


    </div>
</div>