@{
    ViewData["Title"] = "Search Results";
}
@model Bjornroth.Models.ViewModels.SearchViewModel


<html>
<head>
</head>

<body>
    <h1>Search Results</h1>

    @for (int i = 0; i < Model.Movies.Count; i++) {
<div class="search-result">
    <h2>@Html.ViewData.Model.Movies[i].Title</h2>
    <h2>@Html.DisplayNameFor(model => Model.Movies[i].NumberOfLikes);</h2>
    <h2 id="like-number@(i)">@Html.ViewData.Model.Movies[i].NumberOfLikes</h2>
    <h2>@Html.DisplayNameFor(model => Model.Movies[i].NumberOfDislikes);</h2>
    <h2 id="dislike-number@(i)">@Html.ViewData.Model.Movies[i].NumberOfDislikes</h2>
    <img src="@Html.ViewData.Model.Movies[i].Poster" />
    @using (@Html.BeginForm("Index", "SearchResults"))
    {
        <input type="hidden" id="imdbId@(i)" name="imdbId" value=@Html.ViewData.Model.Movies[i].ImdbId placeholder="Search movie title...." />
        <input type="hidden" id="newRating@(i)" name="newRating" value="like" placeholder="Search movie title...." />
        <input type="submit" value="Add like" id="like-btn@(i)" class="submitBtn" />
    }
    @using (@Html.BeginForm("Index", "SearchResults"))
    {
        <input type="hidden" id="imdbId@(i)" name="imdbId" value=@Html.ViewData.Model.Movies[i].ImdbId placeholder="Search movie title...." />
        <input type="hidden" id="newRating@(i)" name="newRating" value="dislike" placeholder="Search movie title...." />
        <input type="submit" value="Add dislike" id="dislike-btn@(i)" class="submitBtn" />
    }
    <h2>Plot</h2>
    <p>@Html.ViewData.Model.Movies[i].Plot</p>
    @using (Html.BeginForm("Index", "MovieDetails"))
    {
        <input type="hidden" name="imdbId" value="@Model.Movies[i].ImdbId" />
        <input type="submit" class="read-more" value="Read More" />
    }
</div>
    }
</body>
</html>
