@{
    ViewData["Title"] = "Search Results";
}
@model Bjornroth.Models.ViewModels.MovieViewModel


<html>
<head>
</head>

<body>
    <h1>Search Results</h1>

    <div class="search-result">
        <h2>@Html.ViewData.Model.Title</h2>
        <h2>@Html.DisplayNameFor(model => Model.NumberOfLikes);</h2>
        <h2>@Html.ViewData.Model.NumberOfLikes</h2>
        <h2>@Html.DisplayNameFor(model => Model.NumberOfDislikes);</h2>
        <h2>@Html.ViewData.Model.NumberOfDislikes</h2>
        <img src="@Html.ViewData.Model.Poster" />
    </div>
</body>
</html>
