@{
    ViewData["Title"] = "Home Page";
}
@model Bjornroth.Models.ViewModels.MovieViewModel



<div class="start-search">


    

    @*@foreach(var search in Model)
        {
            <p>@Html.DisplayFor(item => search.Title)</p>
        }*@
    <div class="search-result">
        @*Html.ViewData.Model.Poster*@
        <h2>@Html.ViewData.Model.Title</h2>
        <h2>@Html.DisplayNameFor(model => Model.NumberOfLikes);</h2>
        <h2>@Html.ViewData.Model.NumberOfLikes</h2>
        <h2>@Html.DisplayNameFor(model => Model.NumberOfDislikes);</h2>
        <h2>@Html.ViewData.Model.NumberOfDislikes</h2>
    </div>

</div>

