<div class="search-field-and-btn">

    @using (@Html.BeginForm("Index", "SearchResults"))
     {
        <input type="text" autocomplete="off" id="searchInput" name="searchInput" placeholder="Search movie title...." />

        <input type="submit" value="Search" />
        
    }

<table id="searchTable">
    <thead>
        <tr hidden="hidden">
            <th>Title</th>
            <th>Actors</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody id="searchBar">

        @foreach (var movie in Model.SearchSuggestions)
        {
           
 
        <tr class="searchTableRow">



            <td hidden="hidden"><a href="/MovieDetails?imdbId=@movie.ImdbId"><img src="@movie.Poster" /></a></td>
            <td hidden="hidden">@Html.ActionLink($"{@movie.Title}", "Index", "MovieDetails", new { imdbId = @movie.ImdbId }, new { @class = "searchLink" })</td>
            <td hidden="hidden"><a href="/MovieDetails?imdbId=@movie.ImdbId"><h3 class="cmdb-rating-label-searchbar"></h3></a></td>
            <td class="numberOfLikes-td" hidden="hidden">@movie.NumberOfLikes</td>
            <td class="numberOfDislikes-td" hidden="hidden">@movie.NumberOfDislikes </td>



        </tr>
    }





        </tbody>
    </table>
</div>