<div class="search-field-and-btn">

    @using (@Html.BeginForm("Index", "SearchResults", null, FormMethod.Post , null, new { @class = "search-form" }))
    {
        <input type="text" autocomplete="off" id="searchInput" name="searchInput" placeholder="Search movie title...." />

        <button type="submit"> <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-search" fill="#8D0801" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
    <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
</svg></button>
        
    }

<table id="searchTable">
    <thead>
        <tr hidden="hidden">
            <th>Title</th>
            <th>Actors</th>
            <th>Director</th>
        </tr>
    </thead>
    <tbody id="searchBar">
        
       

        @for (int i = 0; i < @Model.SearchSuggestions.Count; i++)
        {


            <tr class="searchTableRow" id="@(i)">
                <td hidden="hidden"><a href="/MovieDetails?imdbId=@Model.SearchSuggestions[i].ImdbId"><img src="@Model.SearchSuggestions[i].Poster" /></a></td>
                <td hidden="hidden">@Html.ActionLink($"{@Model.SearchSuggestions[i].Title}", "Index", "MovieDetails", new { imdbId = @Model.SearchSuggestions[i].ImdbId }, new { @class = "searchLink" })</td>

                <td hidden="hidden"><img class="" search-bar-cmdb-logo"" src="~/images/cropped logo.png" /><a href="/MovieDetails?imdbId=@Model.SearchSuggestions[i].ImdbId"><h3 class="cmdb-rating-label-searchbar"></h3></a></td>
                <td class="numberOfLikes-td" hidden="hidden">@Model.SearchSuggestions[i].NumberOfLikes</td>
                <td class="numberOfDislikes-td" hidden="hidden">@Model.SearchSuggestions[i].NumberOfDislikes </td>
            </tr>
        }

        <tr hidden="hidden" id="suggestion-search">
            <td>
            </td>
            <td>
                @using (@Html.BeginForm("Index", "SearchResults"))
                {
                    <h3>Did you mean     <input hidden="hidden" name="searchInput" id="search-input-holder" /> <input id="search-value-btn" type="submit" value="" />     ?</h3>

                }
            </td>
            <td></td>
        </tr>
    </tbody>
    
</table>
</div>